* {
  padding: 0.8rem;
  margin: 0.8rem;
  /* Para evitar problemas con el scroll horizontal, ponremos este 'box-sizing' (¿?). */
  box-sizing: border-box;
}

body {
  /* Anchura máxima de la capa que contendrá la maquetación. */
  max-width: 1200px;
  /* ¿Realmente hace falta poner el flex aquí? No cambia nada, pero lo estamos diciendo al "padre" que vamos a usar el `display: flex` a su contenido.  */
  display: flex;
  flex-flow: column nowrap;
}

.flex-container {
  background-color: black;
  flex-wrap: nowrap;
}

.box1 {
  background-color: rgb(62, 56, 92);
  display: flex;
  flex-flow: row nowrap;
}

.box11 {
  background-color: rgba(228, 56, 56, 0.753);
  flex: 1 1 auto;
}

.box12 {
  background-color: rgba(228, 56, 56, 0.753);
  flex: 6 1 auto;
}

.box2 {
  background-color: rgb(235, 139, 13);
}

.box21 {
  background-color: rgb(250, 220, 53);
}

.flex-container2 {
  background-color: black;
  display: flex;
}

.box3 {
  background-color: rgb(94, 83, 131);
  display: flex;
  flex-flow: row wrap;
  flex: 2 1 auto;
}

.box31 {
  background-color: rgb(69, 93, 204);
  flex: 1 1 35%;
}

.box32 {
  background-color: rgba(64, 191, 250, 0.815);
  flex: 1 1 100%;
}

.box4 {
  background-color: rgb(250, 48, 92);
  flex: 1 1 auto;
}

.box41 {
  background-color: rgb(250, 220, 53);
}

.footer {
  background-color: black;
}

.box5 {
  background-color: rgb(250, 213, 48);
  display: flex;
  flex: 1 1 auto;
}

/* Aplicación de los @Media Query (Responsive). 
Por defecto estará el @Media Query para desktop. */

/* @Media Query versión tablet */

@media all and (min-width: 480px) and (max-width: 768px) {
  .flex-container2 {
    background-color: yellow;
    flex-direction: column;
  }
}

/* @Media Query versión smartphone */

@media all and (max-width: 480px) {
  .box1 {
    flex-direction: column;
  }
  .flex-container2 {
    background-color: rgb(243, 243, 10);
    flex-direction: column;
  }
  .box3 {
    background-color: rgb(10, 79, 110);
    flex-flow: column nowrap;
  }

  .box31 {
    background-color: rgb(46, 167, 167);
  }
  .box32 {
    background-color: rgb(77, 224, 224);
  }
}
